
.checkout_image{
    width: 90%;
    
    height: 250px;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 15px;

}
.checkout_row{
    display: flex;
    justify-content: space-around;
    margin: 15px 90px;
}
.middleware{
    width: 230px;
}
.checkout_left{
    margin-left: 20px;
    /* margin-right: 300px; */
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.checkout_right{
    float: right;

}

.checkout_right > h4{
    margin-left: 10px;
    margin-top: 10px;
}